{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}

    <main class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <strong class="d-inline-block mb-2 text-danger">Главное</strong>
                <h1 class="display-4 fst-italic">Добро пожаловать!</h1>
                <p class="lead my-3">This is very nice Web page!</p>
                <p class="lead mb-0"><a href="/" class="text-white fw-bold">Подробнее...</a></p>
            </div>
        </div>

        {% if featured_post_list %}

            <div class="row mb-2">
                {% for f in featured_post_list %}
                    <div class="col-md-6">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">{{ f.post_category }}</strong>
                                <h5 class="mb-0">{{ f.post_title|safe }}</h5>
                                <div class="mb-1 text-muted">{{ f.post_publication_date|date:"d.m.Y" }}</div>
                                <p class="card-text mb-auto">{{ f.post_short_description }}</p>
                                <a href="#" class="stretched-link">Подробнее</a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <svg class="bd-placeholder-img" width="200" height="250"
                                     xmlns="http://www.w3.org/2000/svg"
                                     role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                     focusable="false"><title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c"/>
                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                </svg>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


        {% endif %}
    </main>

{% endblock %}