<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="NaKo Blog">
    <meta name="author" content="NaKo">
    <!-- Open Sans Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Main Css -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title> {% block title %}Главная{% endblock %} - Nako</title>
</head>

<body>

{# HEADER BEGIN #}
<header class="p-3 bg-dark text-white">
    <div class="container">

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Главная</a></li>
                <li><a href="/news/" class="nav-link px-2 text-white">Новости</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Контакты</a></li>

            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
            </form>

            <div class="text-end">
                {% if user.is_authenticated %}
                    <a href="#">
                        <button type="button" class="btn btn-outline-light me-2">Выход</button>
                    </a>
                {% else %}
                    <a href="#">
                        <button type="button" class="btn btn-outline-light me-2">Войти</button>
                    </a>
                    <a href="#">
                        <button type="button" class="btn btn-warning">Регистрация</button>
                    </a>
                {% endif %}
                {% if user.is_staff %}
                    <a href="admin">
                        <button type="button" class="btn btn-warning">Admin Panel</button></a>
                {% endif %}
            </div>
        </div>

    </div>
</header>
{# HEADER END #}


    {% block content %}

    {% endblock %}


{# FOOTER BEGIN #}
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">NakoBy &copy {% now 'Y' %}</p>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Главная</a></li>
            <li class="nav-item"><a href="/news/" class="nav-link px-2 text-muted">Новости</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Контакты</a></li>
        </ul>
    </footer>
</div>

{# FOOTER END #}
</body>

<script src="{% static 'js/bootstrap.js' %}"></script>

</html>